#Ignore system specific config

/.git/*
/.idea/*
/.gradle/*
/.settings/*
/bin/*
/build/*
/logs/*
/run/*
/.classpath
/.gitattributes
/.project
/runClient.launch
/runData.launch
/runServer.launch
/setup.bat